<h1 class="title-config"><%=t ".title" %> 
<% if can? :create, User %>
     / <%= link_to  new_user_path do %>
        <%= image_tag("novo-32.png", :title => "Criar Novo Usu치rio") %>
        <span class="text-link">Criar Novo Usu치rio</span>
      <% end %>
<% end %>
</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th colspan="2"></th>
  </tr>

    <% @users.each do |user| %>
    <tr class="<%= cycle("even", "odd") %>">
      <td><%= link_to user.email, user %></td>
      <td>
        <% if current_user.name == user.name %>
          <strong><%= user.name %></strong>
        <% else %>
          <%= user.name %>
        <% end %>
      </td>
      <td>
        <% for role in user.roles %>
          <%= role.name %>
        <% end %>
      </td>
      <td><%= user.company.name %></td>
      <% if can? :manage, User %>
      <td><%= link_to(image_tag("editar-24.png", :title => "Editar Usu치rio"), edit_user_path(user)) %></td>
        <td><%= link_to(image_tag("apagar-24.png", :title => "Excluir Usu치rio"), user, :confirm => t(:confirm), :method => :delete) %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<br />
