<p id="notice"><%= notice %></p>

<div class="logo-show">
  <%= image_tag avatar_url(@user) %>
</div>

<div class="name-show">
  <h1><%= @user.name %></h1><br />
    <%= link_to(image_tag("voltar-24.png", :title => "Voltar"), users_path) %>  
    <% if current_user.role? :Admin %>
      <%= link_to(image_tag("editar-24.png", :title => "Editar"), edit_user_path) %>
    <% end %>

  <br /><p><%= @user.company.name %></p><br /><br />

</div>
