<h1 class="title-config"><%=t ".title" %>
  <% if can? :manage, :all %>
    / <%= link_to  new_company_path do %>
        <%= image_tag("novo-32.png", :title => "Criar Nova Empresa") %>
        <span class="text-link">Criar Nova Empresa</span>
      <% end %>
  <% end %>
</h1>

<table>
  <tr>
    <th colspan="2"></th>
  </tr>

<% @companies.each do |company| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= link_to company.name, company %></td>
    <td><%= company.state %></td>
    <td><%= company.contractor %></td>
    <td><%= company.phone %></td>
      <td><%= link_to(image_tag("editar-24.png", :title => "Editar Empresa"), edit_company_path(company)) %></td>
    <% if can? :manage, :all %>
      <td><%= link_to(image_tag("apagar-24.png", :title => "Excluir Empresa"), company, :confirm => t(:confirm), :method => :delete) %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

