<p id="notice"><%= notice %></p>

<div class="logo-show">
  <%= image_tag @company.logo.url(:small) %>
</div>

<div class="name-show">
  <h1><%= @company.name %></h1><br />
  <% if current_user.role? :Gestor %>
  <%= link_to(image_tag("editar-24.png", :title => "Editar"), edit_company_path(@company)) %>
  <% else %>
  <%= link_to(image_tag("voltar-24.png", :title => "Voltar"), companies_path) %>  
  <%= link_to(image_tag("editar-24.png", :title => "Editar"), edit_company_path(@company)) %>
  <% end %>
</div>

<div class="content-show">

  <%= @company.address %>





  <table>
    <tr>
      <td class="td-title-company">Contractor</td><td><%= @company.contractor %></td>
    </tr>
      <td class="td-title-company">Address</td><td><%= @company.address %></td>
    </tr>
      <td class="td-title-company">City</td><td><%= @company.city %></td>
    </tr>
      <td class="td-title-company">State</td><td><%= @company.state %></td>
    </tr>
      <td class="td-title-company">Zipcode</td><td><%= @company.zipcode %></td>
    </tr>
      <td class="td-title-company">Cnpj</td><td><%= @company.cnpj %></td>
    </tr>
      <td class="td-title-company">Phone</td><td><%= @company.phone %></td>
    </tr>
      <td class="td-title-company">Cellphone</td><td><%= @company.cellphone %></td>
    </tr>
  </table>
</div>


