<p id="notice"><%= notice %></p>

<div class="logo-show">
  <%= image_tag @course.avatar.url(:small) %>
</div>

<div class="name-show">
  <h1><%= @lesson.theme %></h1><br />
  <%= link_to(image_tag("voltar-24.png", :title => "Voltar"), course_path(@course)) %>  
</div>

<div class="content-show">
  <h4>Objetivos:</h4>
  <p>
    <%= @lesson.objective %>
  </p><br />
</div>

<h2>Atividades Disponíveis</h2>
<table>
  <%= render @lesson.activities %>
</table>
<% if can? :manage, :all %>
  <h2>Cadastrar uma Nova Atividade</h2><br />
  <%= render "activities/form", :lesson => @lesson, :activity => Activity.new %>
<% end %>
