<h1 class="title-config"><%=t ".title" %>
  / <%= link_to  new_role_path do %>
      <%= image_tag("novo-32.png", :title => "Criar Nova Permiss達o") %>
      <span class="text-link">Criar Nova Permiss達o</span>
    <% end %>
</h1>
<table cellspacing="0">
  <tr>
    <th></th>
    <th colspan="2"></th>
  </tr>

<% @roles.each do |role| %>
  <tr class ="<%= cycle("even", "odd") %>">
    <td class="td-title"><%= role.name%></td>
      <td><%= link_to(image_tag("editar-24.png", :title => "Editar Permiss達o"), edit_role_path(role)) %></td>
      <td><%= link_to(image_tag("apagar-24.png", :title => "Permiss達o"), role, :confirm => t(:confirm), :method => :delete) %></td>
  </tr>
<% end %>
</table>

