<h1 class="title-config"><%= t ".title" %>

  <% if can? :manage, :all %>


     / <%= link_to  new_course_path do %>
        <%= image_tag("novo-32.png", :title => "Criar Novo Curso") %>
        <span class="text-link">Criar Novo Curso</span>
      <% end %>

  <% end %>

</h1>

<% @courses.each do |course| %>
  <%= div_for(course, :class => "list-courses") do %>
    <%= link_to image_tag(course.avatar.url), course %><br />
    <% if can? :manage, :all %>
      <%= link_to(image_tag("editar-24.png", :title => "Editar Curso"), edit_course_path(course)) %>
      <%= link_to(image_tag("apagar-24.png", :title => "Excluir Curso"), course, :confirm => t(:confirm), :method => :delete) %>
    <% end %>
  <% end %>
<% end %>

<br />

