<p id="notice"><%= notice %></p>

<div class="logo-show">
  <%= image_tag @course.avatar.url(:small) %>
</div>

<div class="name-show">
  <h1 class="title-page"><%= @course.name %></h1>
  <p><%= @course.category.name %></p>
  <%= link_to t(:back), courses_path %>
</div>

<div id="description-course">
  <p>
    <%= @course.description %>
  </p><br />
</div>

<h2>Lições Disponíveis</h2>

<table>
    <%= render @course.lessons %>
</table><br />

<% if can? :manage, :all %>
  <h2>Cadastrar uma Nova Lição</h2><br />
  <%= render "lessons/form", :course => @course, :lesson => Lesson.new %>
<% end %>

