<h1 class="title-config"><%=t ".title" %>
     / <%= link_to  new_category_path do %>
        <%= image_tag("novo-32.png", :title => "Criar Nova Categoria") %>
        <span class="text-link">Criar Nova Categoria</span>
      <% end %>
</h1>

<table>
  <tr>
    <th></th>
    <th colspan="2"></th>
  </tr>

<% @categories.each do |category|  %>
  <tr class ="<%= cycle("even", "odd") %>">
    <td class="td-title"><%= category.name %></td>
      <td><%= link_to(image_tag("editar-24.png", :title => "Editar Categoria"), edit_category_path(category)) %></td>
      <td><%= link_to(image_tag("apagar-24.png", :title => "Excluir Categoria"), category, :confirm => t(:confirm), :method => :delete) %></td>
  </tr>
<% end %>
</table>


