<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @activity.name %>
</p>

<p>
  <b>Description:</b>
  <%= @activity.description %>
</p>

<p>
  <b>Lesson:</b>
  <%= @activity.lesson %>
</p>


<%= link_to t(:back), lesson_path(@lesson) %>
