<!DOCTYPE html>
<html>
<head>
  <title>Treinolivre</title>
  <%= stylesheet_link_tag "scaffold.css" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="bar">
     <div id="info-course">
      <h5>Tema:</h5>
      <p><%= @activity.lesson.theme %></p>
     </div>
  </div>
  <div id="content-class">
    <%= yield %>
  </div>
</body>
</html>
